.movieInfo {
    max-width: 60%;
    margin: 32px auto;

    display: flex;
}

.moviePoster, .movieText {
    width: 50%;
}

img#moviePoster {
    width: 60%;
    height: 60%;
    height: auto;
    display: block;
    margin: auto;
}

.movieText {
    font-family: 'Questrial';
    color: #fefbea;
    line-height: 1.25;
}

#movieOverview {
    font-size: 26px;
}